%p Dear #{@user.username};

%p Thank you. Your payment for the following invoice has been received.

%p #{@invoice.title}, $#{@invoice.amount}

%p Click here to view your invoice: #{@url}

%p Thank you,

%p Simple Billing