%p Dear #{@user.username};

%p You have a new invoice from Simple Billing

%p #{@invoice.title}, $#{@invoice.amount}

%p Simple Billing makes it easy for you to pay this invoice. Just follow this handy link and we'll set up an account for you: #{@url}

%p When you click the link you will be prompted to create an account then you will be able to authorize payments.

%p Thank you,

%p Simple Billing