%p Dear #{@user.username};

%p Someone cares enough about you to ask you for money. So use this handy link to activate your account on their simple billing website:

%p Activation Link: #{@url}

%p When you click the link you will be prompted to create an account then you will be able to authorize payments.

%p Thank you,

%p Simple Billing