- title "Admin Dashboard"

%h2 Admins:

= render partial: 'users_table', locals: { users: @admins }

%h2 Users:

= render partial: 'users_table', locals: { users: @clients }

%p= link_to "Add User", new_admin_user_path